.blogBookmark{
    height: 100%;
}
.readtime{
    position: sticky;
    top: 0;
}
.readtime h2{
    padding:20px ;
    background-color: rgb(247, 245, 245) ;
    border-radius: 8px;
    
    
}
.blogBookmarkText{
    position: sticky;
    top: 100px;
    padding: 20px;
    background-color: rgb(247, 245, 245);
    
}
.blogBookmarkText li{
    list-style-type: none;
    padding:5px 10px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}