.blogBookmark{
    height: 100%;
    border-radius: 8px;
    background-color: rgb(247, 245, 245);
}
.blogBookmarkText{
    position: sticky;
    top: 0;
    padding: 20px;
    
}
.blogBookmarkText li{
    list-style-type: none;
    padding:5px 10px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}