.singleBlog{
    width: 95%;
    height: 680px;
    border-radius: 8px;
    border: 1px solid rgb(248, 244, 244);
    margin-bottom: 25px;
}
@media screen and (max-width:576px){
    .singleBlog{
        width: 100%;
        height: 550px;
    }
}
.singleBlog img{
    width: 100%;
    border-radius: 8px;
}
.singleBlog h2,a{
    margin-left: 20px;
}
.singleBlog button{
    text-decoration: underline;
    background-color: white;
    border: none;
    color: rgb(70, 70, 236);
}
.author-img-date{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    justify-content: center;
    align-items: center;
}
.author-img-date img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
}
.author-publish h4{
    margin: 0;
    padding: 0;
}
.author-publish p{
    margin: 0;
    padding: 0;
}
.btn-singleBlog{
    background-color: white;
    border: none;
 
}
.btn-singleBlog:hover .font{
    color:rgb(134, 196, 255) ;
}